DATABASE_URL="postgresql://postgres.xxxxx:yourpassword@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xxxxx:yourpassword@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="change_me_to_something_random"
PORT=5000